*.d
*.ko
*.ko.cmd
*.o
*.o.cmd
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-empty.xml
kversion.c
modules.order
empty-kelem.conf
empty-kelem.mk
empty-kmain.cc
empty-uelem.conf
empty-uelem.mk
empty-umain.cc
empty.mod.c
